body{
    background-color: #18191a;
}

.container1{

    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container1 img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.6);
    transition: all ease-in-out 0.5s;
}

.container1 img:hover{
    width: 25%;
}

.container2 {
    margin-top: 100px;
    width: 500px;
    aspect-ratio: 1/0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.container2 .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.container2 .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.container2::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.container2:hover img {
    filter: grayscale(1) brightness(0.4);
}

.container2:hover::after {
    opacity: 1;
    inset: 20px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.container2:hover .content {
    opacity: 1;
}
